.a1-row {
    margin-top: 50px;
}


.a1-row th {

    background-color: rgb(211, 208, 208);
    
}

.a1-row th {

    padding: 2px 2px;
}

.a1-imagens {

    float: left;
    width: 60%;
    margin: 0px 15px 10px 0;
    
}

.promo-row-title {

    font-size: 1.2rem;
    letter-spacing: .083125rem;
    color: #11172A;;
    font-family: 'Roboto Condensed', sans-serif;
}

.promo-row-text {
    
    line-height: 1.4em;
    margin-bottom: 25px;
    color: #11172A;;
}




  body {
    background-color: #ebeff5;
}

#total-ordens {
    background-color: #4cb4c7;
}

#ordem-entregues {
    background-color: #7abecc;
}

#ordem-pedida {
    background-color: #7cd1c0;
}
   
.user-b1 {

    margin-top: 30px;
}



/* Backgraund em video */

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('../img/backgrund_video/WhatsApp-Image-2021-01-17-at-17.gif') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}
.carreir {
  text-align: center;
  margin-top: 20px;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}