{% extends 'base.html' %}

{% block title%} Carreiras {% endblock %}

{% block content %}

<div class="heading carreir">
    <h1>Plano de Carreira</h1>
</div>
</div>
<div class="container" style="margin-top: 40px;">
    <div class="card-deck mb-3 text-center text-justify">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Cop em Treinamento</h4>
         <img class="card-img-top" src="../static/img/patente/COP.png" alt="">
        </div>
        <div class="card-body">
          <h4 class="card-title pricing-card-title">Requisitos</h4>
          <ul class="list-unstyled mt-3 mb-4">
            <li>0h - 250h</li>            
          </ul>          
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Copiloto</h4>
          <img class="card-img-top cop" src="../static/img/patente/COP2.png" alt="">
        </div>
        <div class="card-body">
          <h4 class="card-title pricing-card-title">Requisitos</h4>
          <ul class="list-unstyled mt-3 mb-4">
            <li>250h - 500h</li>            
          </ul>          
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Primeiro Oficial</h4>
          <img class="card-img-top" src="../static/img/patente/POF.png" alt="">
        </div>
        <div class="card-body">
          <h4 class="card-title pricing-card-title">Requisitos</h4>
          <ul class="list-unstyled mt-3 mb-4">
            <li>500h - 1000h </li>            
          </ul>          
        </div>
      </div>
    </div>
    <hr>
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Primeiro Oficial Sênior</h4>
            <img class="card-img-top" src="../static/img/patente/POF2.png" alt="">
          </div>
          <div class="card-body">
            <h4 class="card-title pricing-card-title">Requisitos</h4>
            <ul class="list-unstyled mt-3 mb-4">
              <li>+ 1000h</li>            
            </ul>          
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Comandante</h4>
            <img class="card-img-top" src="../static/img/patente/CMD.png" alt="">
          </div>
          <div class="card-body">
            <h4 class="card-title pricing-card-title">Requisitos</h4>
            <ul class="list-unstyled mt-3 mb-4">
              <li>+ 2000h</li>            
            </ul>          
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Comandante Master</h4>
            <img class="card-img-top" src="../static/img/patente/CMM.png" alt="">
          </div>
          <div class="card-body">
            <h4 class="card-title pricing-card-title">Requisitos</h4>
            <ul class="list-unstyled mt-3 mb-4">
              <li>+ 3000h</li>            
            </ul>          
          </div>
        </div>
      </div>
</div

{% endblock %}