{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="../static/img/backgrund_video/cover.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Infinite Flight Aero Brasil</h1>
        <p class="lead mb-0">Representando o Brasil no Infinite Flight</p>
      </div>
    </div>
  </div>
</header>

<!-- Comecando o conteudo do site em grids -->

<div class="container">
  <center> <img src="../static/img/img_index_01.png" class="figure-img img-fluid rounded" width="80%"></center>
  <!-- Coluna da esquerda -->

  <div class="row a1-row">
    <div class="col-sm-7">
      <section id="content" class="two-column with-right-sidebar">
        <article>
          <div>
            <h3><span id="horas"></span> bem vindo a IFAB </h3>

            <font style="vertical-align: inherit;">
              Somos antes de tudo fanáticos pela aviação, respiramos AVGÁS e expiramos JET. Amigos que
              compartilham
              conhecimento, boas histórias e catrapos. O&nbsp; INFINITE FLIGHT AERO BRASIL foi
              criado no intuito de proporcionar melhores voos e
              boas amizades para seus integrantes. Estamos contentes com nossos membros e
              amigos acima de tudo, sempre mantendo o respeito e empatia com o próximo.
            </font>
          </div>
          <br>
          <section>
            <div>
              <div>
                <img src="../static/img/IFABD.png" alt="" class="a1-imagens">
              </div>
              <a href="http://">
                <div>
                  <h3 class="promo-row-title">JUNTE-SE Á IFAB</h3>
                </div>
                <div class="promo-row-text mb-0 justify">
                  <p>
                    Venha participar do grupo que mais cresce na comunidade Brasileira.
                    Estamos sempre procurando novos pilotos para ingressar e subir os céus do Infinite Flight.
                  </p>
                </div>
              </a>
            </div>
            <br>
            <div>
              <div class="promo-row-title">
                <h3> PILOTOS DESTAQUES DO MÊS</h3>
              </div>
              <div>
                <h3 style="text-transform: uppercase;letter-spacing: 1px;font-weight: 600; color: #F2B01C; font-size: 17px">
                  “QUEM SE DESTACA MERECE DESTAQUE”
                </h3>
                <p>
                  O impossível só dura até alguém atingi-lo! A gratidão é uma forma singular de reconhecimento, e
                  o reconhecimento é uma forma sincera de
                  gratidão. Portanto, a <strong>IFAB</strong> reconhece os pilotos destaques do mês, seja pelo
                  ranking de performance, seja pelo desempenho em grupo. Parabéns!</p>
              </div>
            </div>
        </article>
      </section>
    </div>
    <!-- Coluna da direita -->
    <div class="col-sm-5 " style="font-size: 12px;">
      <div>
        <table class="table table-sm table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center" colspan="3">Novos Pilotos </th>
            </tr>
            <tr>
              <th scope="col">Registro</th>
              <th scope="col">Piloto</th>
              <th scope="col">Data</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <td>IFAB-{{user.registro}}</td>
              <td>{{user.username}} <strong>{{user.sobrenome}}</strong></td>
              <td>{{user.data_create.strftime('%d/%m/%Y')}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <hr>
      <div>
        <table class="table table-sm table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center" colspan="5">LiveFlights </th>
            </tr>
            <tr>
              <th>Piloto</th>
              <th>Server</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for i in flight['result'] %}
            {% if i["virtualOrganization"] is not none %}
            {% if 'IFAB' in i["virtualOrganization"] %}
            <tr>
              <td>IFAB - {{i["username"]}}</td>
              <td>Expert</td>
              <td style=color:#2E8B57;>Online</td>
            </tr>
            {% endif %}
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <hr>
      <div>
        <table class="table table-sm table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center" colspan="5">Ultimos voos</th>
            </tr>
            <tr>
              <th scope="col">Piloto</th>
              <th scope="col">Saida</th>
              <th scope="col">Chegada</th>              
              <th scope="col">Tempo</th>
              <th scope="col">Data</th>
            </tr>
          </thead>
          <tbody>
            {% for x in range(5) %}
            <tr>
              <td>{{log[x].user.username}} {{log[x].user.sobrenome}}</td>
              <td>{{log[x].saida}}</td>
              <td>{{log[x].chegada}}</td>
              <td>{{log[x].tempo}}</td>              
              <td>{{log[x].data_create.strftime('%d/%m/%Y')}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <hr>
      <div>
        <table class="table table-sm table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center" colspan="6">ATC Ativo Expert </th>
            </tr>
            <tr>
              <th>Aeroporto</th>
              <th>Frequência</th>
              <th>Pais</th>              
            </tr>
          </thead>
          <tbody>
            {% for api in atc['result'] %}
                        {% for fixo in fixo %}
                        {% if api['airportName'] == fixo['Icao'] %}
                        <tr>
                            <td><a href="http://skyvector.com/airport/{{ api['Name'] }}">{{ api["airportName"] }}</a>
                            </td>
                            <td>
                                {% if api['type'] == 0 %}
                                ATIS
                                {% elif api['type'] == 1 %}
                                GND
                                {% elif api['type'] == 5 %}
                                DEP
                                {% elif api['type'] == 4 %}
                                APP
                                {% elif api['type'] == 7 %}
                                TWR
                                {% elif api['type'] == 6 %}
                                FIR
                                {% endif %}
                            </td>
                            <td>
                                <img src="{{fixo['Bandeira']}}" alt=""> {{ fixo['Pais']}}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  function verificaHora() {
    stamp = new Date();
    var sours;
    var time;
    hours = stamp.getHours();

    if (hours >= 18 && hours < 24) {
      time = " Boa Noite, ";
    }

    if (hours >= 12 && hours < 18) {
      time = " Boa Tarde, ";
    }

    if (hours >= 0 && hours < 12) {
      time = " Bom Dia, ";
    }

    document.getElementById('horas').innerHTML = time
  }

  verificaHora()

</script>



{% endblock %}