{% extends 'base.html' %}
{% block title%} Pilotos {% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center pilots"  style="margin-top: 40px;">PILOTOS IFAB</h1>

    <div class="table-responsive" style="margin-top: 40px; font-size: 12px;">
        <table class="table table-sm table-striped ">
            <thead>
                <tr>
                    <th>Registro</th>
                    <th>Piloto</th>                    
                    <th>Base</th>
                    <th>Pais</th>
                    <th>Patente</th>
                    <th>Voos</th>
                    <th>Horas</th>
                    <th>Pontos</th>
                </tr>
            </thead>
            <tbody>
            {% for users in users %}
                <tr>
                    <td><strong>IFAB{{users.registro}}</strong></td>
                    <td><a href="{{ url_for('unique', id=users.id) }}">{{ users.username }} <strong>{{users.sobrenome}}</strong></a></td>
                    <td>{{users.base}}</td>
                    {% if users.pais == 'Brasil' %}
                    <td><img src="../static/img/bandeiras/BR.png" alt=""></td>
                    {% elif users.pais == 'Inglaterra' %}
                    <td><img src="../static/img/bandeiras/GB.png" alt=""></td>
                    {% endif %} 
                    <td>
                        {% if users.cont_tempo > 3000 %}
                        <img src="../static/img/patente/CMD.png" alt=""  width="60px">                      
                      {% else %}
                        <img src="../static/img/patente/COP2.png" alt="" width="60px">
                      {% endif %}
                    </td>
                    <td>{{users.cont_voo}}</td>
                    <td>{{users.cont_tempo_str}}</td>                   
                    <td>{{users.pontos}}</td>          
                    
                </tr>                    
            {% endfor %}  
            </tbody>
        </table>    
    </div>
</div>  

    
{% endblock %}
