{% extends 'base.html' %}

{% block title%} Top10 {% endblock %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm">
            <div class="card text-white md=3" style="background-color:  #4cb4c7; margin-top: 40px;">
                <div>
                    <div class="card-header">
                        <h5>Horas de voo</h5>
                    </div>                    
                    <div>
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Piloto</th>
                                    <th>Patente</th>
                                    <th>Horas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Primeira posição -->
                                <tr>
                                <td><i class="fas fa-trophy fa-1x  ouro"></i> {{ top_10[0].registro}} - {{top_10[0].username}} <strong>{{top_10[0].sobrenome}}</strong></td>
                                <td>
                                    {% if top_10[0].cont_tempo > 3000 %}
                                        <img src="../static/img/patente/CMM.png" alt="" width="80px">
                                    {% elif top_10[0].cont_tempo > 2000 %}
                                        <img src="../static/img/patente/CMD.png" alt="" width="80px">
                                    {% elif top_10[0].cont_tempo > 1000 %}
                                        <img src="../static/img/patente/POF2.png" alt="" width="80px">
                                    {% elif top_10[0].cont_tempo > 500 %}
                                        <img src="../static/img/patente/POF.png" alt="" width="80px">
                                    {% elif top_10[0].cont_tempo > 250 %}
                                        <img src="../static/img/patente/COP2.png" alt="" width="80px">
                                    {% else %}
                                        <img src="../static/img/patente/COP.png" alt="" width="80px">
                                    {% endif %}
                                    </td>
                                    <td>{{ "{0:02.0f} h".format(top_10[0].cont_tempo)  }}</td>
                                </tr>
                                <!-- segunda posição -->
                                <tr>
                                    <td><i class="fas fa-trophy fa-1x  ouro"></i> {{ top_10[1].registro}} - {{top_10[1].username}} <strong>{{top_10[1].sobrenome}}</strong></td>
                                    <td>
                                        {% if top_10[1].cont_tempo > 3000 %}
                                            <img src="../static/img/patente/CMM.png" alt="" width="80px">
                                        {% elif top_10[1].cont_tempo > 2000 %}
                                            <img src="../static/img/patente/CMD.png" alt="" width="80px">
                                        {% elif top_10[1].cont_tempo > 1000 %}
                                            <img src="../static/img/patente/POF2.png" alt="" width="80px">
                                        {% elif top_10[1].cont_tempo > 500 %}
                                            <img src="../static/img/patente/POF.png" alt="" width="80px">
                                        {% elif top_10[1].cont_tempo > 250 %}
                                            <img src="../static/img/patente/COP2.png" alt="" width="80px">
                                        {% else %}
                                            <img src="../static/img/patente/COP.png" alt="" width="80px">
                                        {% endif %}
                                        </td>
                                        <td>{{ "{0:02.0f} h".format(top_10[1].cont_tempo)  }}</td>
                                </tr>
                                <!-- terceira posição -->
                                <tr>
                                    <td><i class="fas fa-trophy fa-1x  ouro"></i> {{ top_10[2].registro}} - {{top_10[2].username}} <strong>{{top_10[2].sobrenome}}</strong></td>
                                    <td>
                                        {% if top_10[2].cont_tempo > 3000 %}
                                            <img src="../static/img/patente/CMM.png" alt="" width="80px">
                                        {% elif top_10[2].cont_tempo > 2000 %}
                                            <img src="../static/img/patente/CMD.png" alt="" width="80px">
                                        {% elif top_10[2].cont_tempo > 1000 %}
                                            <img src="../static/img/patente/POF2.png" alt="" width="80px">
                                        {% elif top_10[2].cont_tempo > 500 %}
                                            <img src="../static/img/patente/POF.png" alt="" width="80px">
                                        {% elif top_10[2].cont_tempo > 250 %}
                                            <img src="../static/img/patente/COP2.png" alt="" width="80px">
                                        {% else %}
                                            <img src="../static/img/patente/COP.png" alt="" width="80px">
                                        {% endif %}
                                        </td>
                                        <td>{{ "{0:02.0f} h".format(top_10[2].cont_tempo)  }}</td>
                                    </tr>
                                    
                            </tbody><!-- quarta posição -->
                            <tr>
                                <td><i class="fas fa-arrow-up fa-1x seta"></i> {{ top_10[3].registro}} - {{top_10[3].username}} <strong>{{top_10[3].sobrenome}}</strong></td>
                                <td>
                                    {% if top_10[3].cont_tempo > 3000 %}
                                        <img src="../static/img/patente/CMM.png" alt="" width="80px">
                                    {% elif top_10[3].cont_tempo > 2000 %}
                                        <img src="../static/img/patente/CMD.png" alt="" width="80px">
                                    {% elif top_10[3].cont_tempo > 1000 %}
                                        <img src="../static/img/patente/POF2.png" alt="" width="80px">
                                    {% elif top_10[3].cont_tempo > 500 %}
                                        <img src="../static/img/patente/POF.png" alt="" width="80px">
                                    {% elif top_10[3].cont_tempo > 250 %}
                                        <img src="../static/img/patente/COP2.png" alt="" width="80px">
                                    {% else %}
                                        <img src="../static/img/patente/COP.png" alt="" width="80px">
                                    {% endif %}
                                    </td>
                                    <td>{{ "{0:02.0f} h".format(top_10[3].cont_tempo)  }}</td>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center text-white md=3" style="background-color:  #7abecc; margin-top: 40px;">
                <div class="card-header">
                    <h5>Voos realizados</h5>
                </div>
                
                <div>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Piloto</th>
                                <th>Patente</th>
                                <th>Trechos Voados</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users_top_voo%}
                            <tr>
                                <td>{{ user}}</td>
                                <td>patente aqui</td>
                                <td>{{ user.cont_voo}} escalas voadas</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm" style="margin-top: 40px;">
            <div class="card text-center text-white md=3" style="background-color:  #7cd1c0;">
                <div>
                    <div class="card-header">
                        <h5>Pontuação </h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"></h3>
                    </div>
                    <div>
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Piloto</th>
                                    <th>Patente</th>
                                    <th>Pontos</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}