{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm">
            <div class="card text-center text-white md=3" style="background-color:  #4cb4c7;">
                <div>
                    <div  class="card-header">
                        <h5>Horas de voo</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">  </h3>
                    </div>
                    <div>
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Piloto</th>
                                    <th>Patente</th>
                                    <th>Horas</th>
                                </tr>                                
                            </thead>
                            <tbody>
                                {% for user in users_top_10%}
                                <tr>
                                    <td>{{ user[0]}}</td>
                                    <td>patente aqui</td>
                                    <td>{{ user[1]  }}</td>
                                </tr>
                               {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-sm">
            <div class="card text-center text-white md=3" style="background-color:  #7abecc;">                
                <div  class="card-header">
                    <h5>Voos realizados</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">
                        {{ flying_bigger_then_15_hours }}
                    </h3>
                </div>
                
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center text-white md=3" style="background-color:  #7cd1c0;">
                <div>
                    <div  class="card-header">
                        <h5>Pontuação </h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"></h3>
                    </div>
                    <div>
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Piloto</th>
                                    <th>Patente</th>
                                    <th>Pontos</th>
                                </tr>                                
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    

{% endblock %}