{% extends 'base.html' %}

{% from 'bootstrap/form.html' import render_form %}
{% block content %}  
<div class="container user-b1">
    <div class="text-center">
        <img src="{{ user.avatar(128) }}">
        <h1>{{ user.username }} {{ user.sobrenome}}</h1>
        {% if va > 3000 %}
        <img src="../static/img/patente/CMD.png" alt=""  width="240px">
    
        {% else %}
        <img src="../static/img/patente/COP2.png" alt="" width="240px">
        {% endif %} 
        
        <h3><small class="text-muted">"{{user.sobremim}}"</small></h3>
    </div>
    <div class="text-center">
        <div>
            
        <a class="btn btn-primary btn-sm brn-block" href="{{ url_for('logbook', id=user.id) }}">Registrar logbook</a>
        
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm">
            <div class="card text-white md=3" style="background-color:  #4cb4c7; margin-top: 40px;">
                <div>
                    <div class="card-header">
                        <h5 class="text-center">Total de Horas</h5>
                    </div>                    
                    <div>
                        <div class="card-body text-center">
                            <h3 class="card-title">{{flying_time}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center text-white md=3" style="background-color:  #7abecc; margin-top: 40px;">
                <div class="card-header">
                    <h5>Voos realizados</h5>
                </div>
                
                <div class="card-body">
                    <h3 class="card-title">{{ log | length }}</h3>
                </div>
            </div>
        </div>
        <div class="col-sm" style="margin-top: 40px;">
            <div class="card text-center text-white md=3" style="background-color:  #7cd1c0;">
                <div>
                    <div class="card-header">
                        <h5>Pontuação </h5>
                    </div>                    
                    <div class="card-body">
                        <h3 class="card-title">{{user.pontos}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <br>
    <br>
    <table class="table table-sm table-responsive-sm table-striped">
        <thead>
          <tr>
            <th scope="col">Sainda</th>
            <th scope="col">Chegada</th>
            <th scope="col">Voo</th>
            <th scope="col">Aeronave</th>
            <th scope="col">Tempo</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
            {% for log in log %}
                <tr>
                    <td>{{log.saida}}</td>
                    <td>{{log.chegada}}</td>
                    <td>{{log.voo}}</td>
                    <td>{{log.aeronave}}</td>
                    <td>{{log.tempo.strftime('%H:%M:%S') }}</td>
                    <td>{{log.data_create.strftime('%d/%m/%Y')}}</td>
                    
                </tr>
            {% endfor %}
          
        </tbody>
      </table>
    <!--
    <div>
        <table class="table table-sm table-responsive table-striped text-center">
            <thead>
                <tr class="table-active"></tr>
                <th>Saida</th>
                <th>Chegada</th>
                <th>Voo</th>
                <th>Aeronave</th>
                <th>Tempo</th>
                <th>Data</th>
                
               </tr>
            </thead>
            <tbody>
                {% for log in log %}
                <tr>
                    <td>{{log.saida}}</td>
                    <td>{{log.chegada}}</td>
                    <td>{{log.voo}}</td>
                    <td>{{log.aeronave}}</td>
                    <td>{{log.tempo.strftime('%H:%M:%S') }}</td>
                    <td>{{log.data_create.strftime('%d/%m/%Y')}}</td>
                    
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    -->

</div>


{% endblock %}